body {
    color: #767676;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

::selection {
    background: #1FB5AD;
    color: #fff;
}

ul li {
    list-style: none;
}

.event-close {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 8px;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.event-list-block {
    background: #1fb5ac;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    min-height: 474px;
}

.event-list li {
    background: rgba(255, 255, 255, .2);
    padding: 10px 30px 10px 10px;
    color: #fff;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.cal-day {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 30px;
}

.cal-day span {
    font-size: 14px;
    display: block;
}

.evnt-input, .evnt-input:focus {
    background: none;
    border: none;
    border-bottom: #fff 1px solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #fff;
    padding-left: 0px;
    margin-top: 10px;
}

.evnt-input:-moz-placeholder {
    color: #fff !important;
    font-size: 12px;
}

.evnt-input::-moz-placeholder {
    color: #fff !important;
    font-size: 12px;
}

.evnt-input:placeholder {
    color: #fff !important;
    font-size: 12px;
}

.evnt-input::-webkit-input-placeholder {
    color: #fff !important;
    font-size: 12px;
}

input {
    outline: none !important;
}

.form-control {
    box-shadow: none;
}

#demo-header {
    height: 150px;
    width: 100%;
    background: url('http://www.jqueryajaxphp.com/cdn/2013/11/jap-logo.png') center no-repeat;
    margin-bottom: 25px;
    border-bottom: 1px solid #999;
    padding-bottom: 25px;
}

footer {
    width: 786px;
    font: normal 16px Arial, Helvetica, sans-serif;
    padding: 15px 35px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -420px;
    background-color: #1f1f1f;
    background-image: -webkit-linear-gradient(top, #1f1f1f, #101010);
    background-image: -moz-linear-gradient(top, #1f1f1f, #101010);
    background-image: linear-gradient(top, #1f1f1f, #101010);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.4);
    z-index: 1;
    text-align: center;
}

footer a {
    color: #09F
}

footer a:hover {
    color: #06C
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

#page-wrap {
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 100px;
    width: 300px;
    line-height: 1;
}

h1 a {
    color: #16B6DF;
    text-decoration: none;
}

h1 a:hover, h1 a:active {
    text-decoration: none;
}

h1 .italics {
    font-style: italic;
    text-transform: lowercase;
    font-weight: normal;
    font-family: "Baskerville", cursive;
    vertical-align: text-top;
    line-height: 1px;
}

h1 .bigger {
    font-size: 46px;
}

@media (max-width: 1000px) {
    h1 {
        margin-left: 0;
    }
}

.post {
    max-width: 600px;
    position: relative;
    margin: 100px auto;
}

.post:before, .post:after {
    position: absolute;
    top: 10px;
    font-size: 350px;
    color: #16B6DF;
    font-family: fantasy;
    font-weight: bold;
    line-height: 300px;
}

.post:before {
    left: -200px;
    content: '\201c';
}

/*.post:after {*/
    /*right: -200px;*/
    /*content: '\201d';*/
/*}*/

@media (max-width: 1000px) {
    .post {
        margin: 20px 10px 150px;
    }

    .post:before, .post:after {
        display: none;
    }
}

#quote-content {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-family: fantasy;
}

@media (max-width: 1000px) {
    #quote-content {
        font-size: 21px;
    }
}

#quote-title-dash, #quote-title {
    font-size: 26px;
    text-transform: uppercase;
    color: #16B6DF;
    font-weight: bold;
}

#quote-source {
    float: right;
    line-height: 26px;
    font-size: 18px;
    color: #B5B5B5;
    font-weight: bold;
}

#quote-source a {
    color: #B5B5B5;
}

@media (max-width: 1000px) {
    #quote-source {
        float: none;
        display: block;
    }
}

#twitter {
    color: #16B6DF;
    display: inline-block;
    margin-top: 8px;
    margin-left: 29px;
}

@media (max-width: 1000px) {
    #twitter {
        margin: 0;
    }
}

#quote-button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1000px) {
    #quote-button-wrapper {
        position: fixed;
        top: auto;
        bottom: 60px;
        width: 90%;
        right: 5%;
        z-index: 1;
    }

    #quote-button-wrapper #get-another-quote-button {
        display: block;
        text-align: center;
        box-shadow: 0 0 10px 10px white;
        font-size: 14px;
    }
}

#get-another-quote-button {
    text-decoration: none;
    color: #16B6DF;
    border: 3px solid #16B6DF;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    background: #fff;
}

.archives a {
    color: #16B6DF;
    display: inline-block;
    padding: 5px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: white;
    box-shadow: 0 -10px 20px white;
}

#footer a {
    color: #B5B6BF;
}

@media (max-width: 1000px) {
    #footer .footer-left,
    #footer .footer-right {
        font-size: 8px;
        float: none;
        width: 100%;
        text-align: center;
        padding: 3px;
    }
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.page-template-default .post h1 {
    margin: 0;
    margin-bottom: 20px;
}

.page-template-default .post h3 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.page-template-default .post pre {
    background: #eee;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    overflow: auto;
}

.page-template-default .post p > code {
    word-wrap: break-word;
}

.page-template-default .post p {
    margin: 0 0 20px 0;
    line-height: 1.5em;
}

@media (max-width: 1000px) {
    .page-template-default .post {
        font-size: 10px;
    }
}

#post h3 {
    margin: 20px 0 8px 0;
    text-transform: uppercase;
    border-bottom: 1px #999 solid;
}

#post ul {
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 20px !important;
    line-height: 140%;
}

#post li {
    margin-bottom: 5px;
}

#post li strong {
    color: #71b8fa;
}

#gif-wrap {
    min-height: 474px;
    width: 100%;
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
